# STAFF 관리자 사이트
STAFF_URL=

# 정상 로그인 가능 계정 (전체 기능)
STAFF_ADMIN_EMAIL=adminyoona@a1mobilsoft.com
STAFF_ADMIN_PASSWORD=

# 로그인 권한이 없는 계정 (TC-103 실패 케이스용)
STAFF_NOAUTH_EMAIL=testyoona@a1mobilsoft.com
STAFF_NOAUTH_PASSWORD=
